In [1]:
#Importing Libraries
import warnings #For Ignoring Warnings
warnings.simplefilter('ignore')


#For pretty display of variables
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"  
import numpy as np              # For numerical calculations and statistics
import pandas as pd             # For Data analysis and manipulatiton 
import matplotlib.pyplot as plt # For plotting graphs and data visualization 
import seaborn as sns
%matplotlib inline

#Reading the CSV file
df=pd.read_csv("loan.csv")

# Data Understanding

In [2]:
df.head() #Printing top 5 entries

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
df.dtypes # Datatypes of each variable in dataset

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [4]:
df.info() # To identify dataframe information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [5]:
df.describe()  #To represent the described statistics analysis of dataframe

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [6]:
df.shape #represemts no. of rows X Columns

(39717, 111)

# Data Cleaning

In [7]:
#Drop all columns which have NA values
df = df.dropna(how='all', axis=1)

In [8]:
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,Jun-16,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,2500,1075.0,36 months,8.07%,78.42,A,A4,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39713,90665,90607,8500,8500,875.0,36 months,10.28%,275.38,C,C1,...,NaN,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,...,NaN,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39716,87023,86999,7500,7500,800.0,36 months,13.75%,255.43,E,E2,...,NaN,Jun-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [9]:
#checking the null values sum from the columns list
missing = df.isnull().sum()
missing_ratio = missing / len(df)
missing_ratio = missing_ratio.reset_index()

# check the feature that has missing ration >= 0.9
missing_ratio = missing_ratio.rename(columns={'index': 'feature', 0: 'missing ratio'})
missing_ratio = missing_ratio.sort_values(by='missing ratio', ascending=False)
missing_ratio[missing_ratio['missing ratio'] >= 0.9]

                   feature  missing ratio
47            next_pymnt_d       0.971297
29  mths_since_last_record       0.929854

In [10]:
#Dropping Columns whose missing feature is >= 0.9
df=df.drop(["percent_bc_gt_75","bc_util","verification_status_joint","mths_since_last_major_derog","next_pymnt_d","mths_since_last_record"],axis=1)

KeyError: "['percent_bc_gt_75' 'bc_util' 'verification_status_joint'\n 'mths_since_last_major_derog'] not found in axis"

In [ ]:
df

In [ ]:
#Checking the uniqueness of each columns so to check that if columns is needed for our analysis 
df['pymnt_plan'].unique()
df['collections_12_mths_ex_med'].unique()
df['policy_code'].unique()
df['delinq_amnt'].unique()
df['chargeoff_within_12_mths'].unique()
df['application_type'].unique()
df['acc_now_delinq'].unique()
df["tax_liens"].unique()
df["initial_list_status"].unique()

In [ ]:
#The defined unique values are not appropriate to analyze the default applicant,so removing these columns
df=df.drop(["pymnt_plan","collections_12_mths_ex_med","policy_code","delinq_amnt","chargeoff_within_12_mths","application_type","acc_now_delinq","tax_liens","initial_list_status"],axis=1)

In [ ]:
df

In [ ]:
#There is no significance of url,emp_title,title and desc columns for our approach , instead purpose column can be used to identify the relation

df=df.drop(["url","emp_title","title","desc"],axis=1)

In [ ]:
df

### Making Loan_status variable approachable

The rows having current as loan_status is deleted because our aim is to find parameters which will affect new default applicant and so currently those whoever is having the loan is of no use for our target.

In [ ]:
# Remove rows which have loan status as current 
df = df.loc[(df.loan_status != 'Current'), :]

# Replace loan_status of Full Paid with 0 and Charged Off/Defaulters with 1
df.loan_status[df.loan_status == 'Fully Paid'] = 0
df.loan_status[df.loan_status == 'Charged Off'] = 1

df['loan_status'] = df['loan_status'].astype("int64")

In [ ]:
df["loan_status"]

In [ ]:
#Totaal counts of each perspective of ownership of home
df["home_ownership"].value_counts()

In [ ]:
# We can convert home ownership of NONE TO OTHER as there will be no affect of changing this rows
df['home_ownership'] = df['home_ownership'].replace('NONE', 'OTHER')

In [ ]:
df["home_ownership"].value_counts()

In [ ]:
# Remove trailing % sign in revol_util and rename column as revol_util_percent
df['revol_util'] = df[['revol_util']].applymap(lambda x:str(x).rstrip('%'))
df['revol_util'] = df['revol_util'].astype('float64')
df.rename(columns={'revol_util':'revol_util_percent'},inplace=True)

In [ ]:
# Remove trailing % sign in int_rate and rename int_rate column as int_rate_percent
print()
print(df['int_rate'].head())
df['int_rate'] = df[['int_rate']].applymap(lambda x:str(x).rstrip('%'))
df['int_rate'] = df['int_rate'].astype('float64')
df.rename(columns={'int_rate':'int_rate_percent'},inplace=True)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
# Remove trailing months from term column and rename column as term_in_months
print(df['term'].head())
df['term'] = df[['term']].applymap(lambda x:str(x).rstrip('months'))
df['term'] = df['term'].astype('int64')
df.rename(columns={'term':'term_in_months'},inplace=True)

In [ ]:
# Remove trailing xx in zip code column
print(df['zip_code'].head())
df['zip_code'] = df[['zip_code']].applymap(lambda x:str(x).rstrip('xx'))

In [ ]:
print(df.id.nunique())
print(df.member_id.nunique())
# Both columns have same number of unique values; Drop one of the columns
df = df.drop(['member_id'], axis=1)

In [ ]:
df.columns

In [ ]:
df

In [ ]:
df

In [ ]:
df.isna().sum()

In [ ]:
# Lets format and standardize employment length column to have only numbers. It may play important role in analysis further.

df["emp_length"]=df["emp_length"].fillna(df['emp_length'].mode()[0])
df['emp_length']=df.emp_length.str.extract('(\d+)')

In [ ]:
df

In [ ]:
df["emp_length"]

In [ ]:
# convert amount columns into numeric data to find some correlation among important ones.

cols1 = ['loan_amnt','funded_amnt','int_rate_percent','funded_amnt_inv','installment','annual_inc','dti','emp_length','total_pymnt']
df[cols1] = df[cols1].apply(pd.to_numeric)

In [ ]:
# Derive pub_rec_bankruptcies_b with values as NO if pub_rec_bankruptcies is 0 else YES
print(df['pub_rec_bankruptcies'].value_counts(),"\n")
df["pub_rec_bankruptcies"].fillna(0, inplace = True)
df['pub_rec_bankruptcies_b'] = df[['pub_rec_bankruptcies']].applymap(lambda x : 'NO' if x == 0 else 'YES')
df['pub_rec_bankruptcies_b'].describe()

# Derive delinq_2yrs_b with values as NO if delinq_2yrs is 0 else YES
print(df['delinq_2yrs'].value_counts(),"\n")
df['delinq_2yrs_b'] = df[['delinq_2yrs']].applymap(lambda x : 'NO' if x == 0 else 'YES')

Proposing ideas to observe the data

In [ ]:
# Lets take a look on important variable purpose of loan in total loans issued

(df.purpose.value_counts()*100)/len(df)

# Observations
# Most of the loans taken for debt consolidation(47%) and Credit card bill payment
# Other is also one of the main area where loans were taken.

In [ ]:
# Lets take a look on important variable loan status in total loans issued

(df.loan_status.value_counts()*100)/len(df)

# Observations
# 85.41 percent loans were fully paid.
# Close to 14% loans were charged off

#    Univariate Analysis

In [ ]:
# Basic statistics with .describe() - Quantitative Variables
df['loan_amnt'].describe()

In [ ]:
sns.boxplot(df.loan_amnt)

#observations 
#median is around $10000 and outliers is treated in range between $28000-$35000

In [ ]:
# Basic statistics with .describe() -Quantitative Variables
df.total_pymnt.describe()

In [ ]:
sns.boxplot(df.total_pymnt)

#observations 
#median is around $10000 and outliers is treated in range >$30000

In [ ]:
sns.boxplot(df.annual_inc)

In [ ]:
df["annual_inc"].describe()

In [ ]:
# Data cleaning
# Remove Outliers quantile .99 from Annual Income

df = df[df["annual_inc"] < df["annual_inc"].quantile(0.99)]

print('After Removal of Outliers :')
print(df["annual_inc"].describe())

In [ ]:
sns.boxplot(df.annual_inc)

#observations 
#median is around $50000 and outliers is treated in range is greater than $40000 for annual income

In [ ]:
# Basic statistics with .describe() -Quantitative Variables

df['int_rate_percent'].describe()

# Average intrest rate is 12 %
# after 75% percentile interest rate zoom'ed to 24% from 14%.

In [ ]:
sns.boxplot(df.int_rate_percent)

#observations 
#median is around %12 Intrest rate and outliers is treated in range greater than 22.5 means the applicants whose intrest rate is greater than 22.5% will be defaulter.

In [ ]:
loan_correlation = df.corr()

In [ ]:
loan_correlation

#observations 
#1.loan_amnt is highly co-reated with funded_amnt_inv and funded_amnt and viz.
#2.Installment amt is highly co-related with funded amt.

In [ ]:
sns.set(font_scale=1.1)

In [ ]:
ig, ax = plt.subplots(1, 3, figsize=(16,5))

loan_amount = df["loan_amnt"].values
funded_amount = df["funded_amnt"].values
investor_funds = df["funded_amnt_inv"].values

sns.boxplot(loan_amount, ax=ax[0], color="pink")
ax[0].set_title("Loan Applied by Borrower", fontsize=12)
sns.boxplot(funded_amount, ax=ax[1], color="Cyan")
ax[1].set_title("Amount Funded by Lender", fontsize=12)
sns.boxplot(investor_funds, ax=ax[2], color="Violet")
ax[2].set_title("Total committed by Investors", fontsize=12)

df['funded_amnt_inv'].describe()

#observations: loan amt, funded amt and funded amt by investors are almost same in each case.

In [ ]:
# Bivariate analysis
# BarPlot to show variation of annual income across grade for every loan status.

plt.figure(figsize=(10,6), dpi=80, facecolor='pink', edgecolor='yellow')
ax=sns.barplot(x='grade', y='annual_inc', hue="loan_status", data=df, estimator=np.mean,order='ABCDEFG')
ax.set_title('Grade vs Annual income',fontsize=15,color='w')
ax.set_ylabel('Annual income',fontsize=14,color = 'w')
ax.set_xlabel('Grades',fontsize=14,color = 'w')
plt.show()
# 0 = fully Paid , 1 = charged_off 


# Observations:
# From this we can conclude that the ones getting 'charged off' have lower annual incomes than the ones who'paid fully' for each and every grade (i.e. at same interest range)

In [ ]:
# Univariate Analysis on Intrest Rate-Quantitative Variables

plt.figure(figsize=(15,8),facecolor='pink')
sns.set_style("dark")
# subplot 1
plt.subplot(2, 2, 1)
ax = sns.distplot(df['int_rate_percent'],rug = True)
ax.set_title('Interest Rate - Distribution Plot',fontsize=16,color='y')
ax.set_xlabel('Interest Rate',fontsize=14,color='y')
# subplot 2
plt.subplot(2, 2, 2)
ax = sns.boxplot(y=df['int_rate_percent'])
ax.set_title('Interest Rate - Box Plot',fontsize=16,color='y')
ax.set_ylabel('Interest Rate',fontsize=14,color='y')
plt.show()

# Observations :
# Below plots show that most of the Interest Rates on loans are in range of 10% - 15%

In [ ]:
# Lets see distribution of three loan amount fields using distribution plot.
# Quantitative Variables

plt.figure(figsize=(15,8),facecolor='pink')
sns.set_style("dark")
# subplot 1
plt.subplot(2, 3, 1)
ax = sns.distplot(df['loan_amnt'],rug = True)
ax.set_title('Loan Amount - Distribution Plot',fontsize=14,color='w')
ax.set_xlabel('Loan Amount',fontsize=14,color='w')
# subplot 2
plt.subplot(2, 3, 2)
ax = sns.distplot(df['funded_amnt'],rug = True)
ax.set_title('Funded Amount - Distribution Plot',fontsize=14,color='w')
ax.set_xlabel('Funded Amount',fontsize=14,color='w')
# subplot 2
plt.subplot(2, 3, 3)
ax = sns.distplot(df['funded_amnt_inv'],rug = True)
ax.set_title('Funded Amount Inv. - Distribution Plot',fontsize=14,color='w')
ax.set_xlabel('Funded Amount Inv.',fontsize=14,color='w')
plt.show()

# Observation: 
# Distribution of amounts for all three looks very much similar.
# We will work with only loan amount column for rest of our analysis.

In [ ]:
# Univariate Analysis on Loan amount-Quantitative Variables

plt.figure(figsize=(15,8),facecolor='pink')
sns.set_style("dark")
# subplot 1
plt.subplot(2, 2, 1)
ax = sns.distplot(df['loan_amnt'],rug = True)
ax.set_title('Loan Amount - Distribution Plot',fontsize=16,color='w')
ax.set_xlabel('Loan Amount',fontsize=14,color='w')
# subplot 2
plt.subplot(2, 2, 2)
ax = sns.boxplot(y=df['loan_amnt'])
ax.set_title('Loan Amount - Box Plot',fontsize=16,color='w')
ax.set_ylabel('Loan Amount',fontsize=14,color='w')
plt.show()

# Observations :
# Below plots show that most of the Loan amounts are in range of 5000 - 15000

In [ ]:
# Univariate Analysis on Annual Income - Quantitative Variables

plt.figure(figsize=(15,8),facecolor='pink')
sns.set_style("dark")
# subplot 1
plt.subplot(2, 2, 1)
ax = sns.distplot(df['annual_inc'],rug = True)
ax.set_title('Annual Income - Distribution Plot',fontsize=16,color='w')
ax.set_xlabel('Annual Income',fontsize=14,color='w')
# subplot 2
plt.subplot(2, 2, 2)
plt.title('Annual Income - Box Plot')
ax = sns.boxplot(y=df['annual_inc'])
ax.set_title('Annual Income - Box Plot',fontsize=16,color='w')
ax.set_ylabel('Annual Income',fontsize=14,color='w')
plt.show()

# Observations :
# Below plots show that most of the borrower's Annual incomes are in range of 40000- 80000

###  Univariate Analysis - Unordered Categorical Variables - Loan Status

In [ ]:
plt.figure(figsize=(10,8),facecolor='pink')
sns.set_style("dark")
ax = sns.countplot(x="loan_status",data=df,palette='mako')
ax.set_title('Loan Status',fontsize=14,color='w')
ax.set_xlabel('Loan Status',fontsize=14,color = 'w')
ax.set_ylabel('Loan Application Count',fontsize=14,color = 'w')            
# To show count of values above bars
s=df['loan_status'].value_counts()
for i, v in s.reset_index().iterrows():
    ax.text(i, v.loan_status + 0.3 , v.loan_status, color='k')
    
    
#Assumptions: loan_status-0:Fully Paid, 1-Charged_off

# Observations :
# Below plot shows that close to 14% loans were charged off out of total loan issued.

### Univariate Analysis - Unordered Categorical Variables - Purpose Of Loan

In [ ]:
plt.figure(figsize=(14,8),facecolor='pink')
sns.set_style("dark")
ax = sns.countplot(y="purpose",data=df,hue='loan_status',palette=['#432371',"#FAAE7B"])
ax.set_title('Purpose Of Loan',fontsize=14,color='w')
ax.set_ylabel('Purpose Of Loan',fontsize=14,color = 'w')
ax.set_xlabel('Loan Application Count',fontsize=14,color = 'w')      
plt.show()
#Assumptions : Loan status 0-Fully Paid and 1-Charged-off
# Observations :
# Below plot shows that most of the loans were taken for the purpose of debt consolidation & paying credit card bill.
# Number of charged off count also high too for these loans.

### # Univariate Analysis - Unordered Categorical Variables - Home Ownership

In [ ]:
plt.figure(figsize=(10,6),facecolor='pink')
ax = sns.countplot(x="home_ownership",data=df,hue='loan_status',palette=['#432371',"#FAAE7B"])

ax.set_title('Home Ownership',fontsize=14,color='w')
ax.set_xlabel('Home Ownership',fontsize=14,color = 'w')
ax.set_ylabel('Loan Application Count',fontsize=14,color = 'w')      
plt.show()

# Observations :
# Below plot shows that most of them living in rented home or mortgazed their home.
# Applicant numbers are high from these categories so charged off is high too.

### Univariate Analysis for good and bad loans

In [ ]:
# Slice data frame into good and bad loan status
df_good = df.loc[(df.loan_status == 0), :]
df_bad  = df.loc[(df.loan_status == 1), :]

plt.figure(figsize=(12, 6))
colors = ["Grey", "Orange"]
labels = "Good Loans", "Bad Loans"
df["loan_status"].value_counts().plot.pie(explode=[0,0.2], autopct='%1.2f%%', shadow=True, colors=colors, labels=labels, fontsize=12, startangle=70)
plt.ylabel('% of Loan Status', fontsize=14)
plt.show()

#Observations:

#Fully paid or good loans consist 85.38% of total loans in the cleaned data frame.

#Charged off or bad loans consist 14.62% of total loans in the cleaned data frame.

In [ ]:
print(df.groupby("term_in_months").loan_status.count())
print(df.groupby("term_in_months").loan_status.mean())
plt.figure(figsize=(14, 8))
plt.subplot(2, 2, 1)
ax1 = sns.countplot(x="term_in_months", data = df)
ax1.set(xlabel='Term in months', ylabel="Count of Loans")
# subplot 2
plt.subplot(2, 2, 2)
ax2 = sns.barplot(x="term_in_months", y = "loan_status" , data = df)
ax2.set(xlabel='Term in months', ylabel='Average Bad Loan %')
plt.show()


#Recommendations:
#If loan term is 60 months then it has 25% average who default on loans as compared to loan term of 36 months which has 11% average who default on loans.

#Also from the count plot, one can infer that number of entries of 36 months is approx 3 times number of entries of 60 months. Still it has 11% average who default on loans.

# Analyzing Bad loans with respect to Grade

In [ ]:
# Change grade and sub grades type to category
df['grade'] = df['grade'].astype("category")
df['sub_grade'] = df['sub_grade'].astype("category")

In [ ]:
print(df.groupby("grade").loan_status.mean())
plt.figure(figsize=(12, 6))
ax = sns.barplot(x="grade", y = "loan_status" , data = df)
ax.set(xlabel="Grade", ylabel='Average Bad Loan %')
plt.show()

#recommendations:

#In Grade A-G the bad loan or the defaulters percentage has increased

# Analyzing count of loans with Grade

In [ ]:
grade = df.groupby('grade', as_index=False).agg({"loan_status": "mean"}).sort_values(by=['loan_status'], ascending=False)

def get_bad_loan_count_g(grade):
    return len(df[((df['grade']==grade) & (df['loan_status']==1))].index)
    
def get_good_loan_count_g(grade):
    return len(df[((df['grade']==grade) & (df['loan_status']==0))].index)    

grade['Good Loan Count'] = grade[['grade']].applymap(lambda x:get_good_loan_count_g(x))
grade['Bad Loan Count'] = grade[['grade']].applymap(lambda x:get_bad_loan_count_g(x))
grade.rename(columns={'grade':'Grade','loan_status':'Bad Loan %'}, inplace=True)
grade.set_index('Grade', inplace=True)

grade.style.background_gradient('viridis')

#Recommendations
#Bad Loan Count and its ratio is high for Grade g and it decreases going down to Grade A

# Analyzing Patterns between Bad Loans and Sub-Grades

In [ ]:
df_grade = df.loc[df['grade'].isin(['A','B','C','D'])]
print(df_grade.groupby(["grade", "sub_grade"]).loan_status.mean())
plt.figure(figsize=(12, 6))
ax = sns.barplot(x="sub_grade", y = "loan_status", data = df)
ax.set(xlabel= "Sub Grade", ylabel='Average Bad Loan %')
plt.show()

#Recommendations:-

#Among the subgrades too of lower Grades A to D - bad loan % increments in a consistent manner between the sub grades in each grade.

#Grades E to G already determined as higher risks.

# F5 subgrade has the higher bad loan percentage.

In [ ]:
#Categorizing funded_amt_inv into small,medium,regular,large

fq = df['funded_amnt_inv'].quantile(0.25)
sq = df['funded_amnt_inv'].quantile(0.50)
tq = df['funded_amnt_inv'].quantile(0.75)
print(fq, sq, tq)


def get_loan_type(loan_amnt):
    if loan_amnt <= fq:
        return 'Small(<=5000)'
    if (loan_amnt > fq) & (loan_amnt <= sq):
        return 'Regular(>5000 & <=8733)'
    elif (loan_amnt > sq) & (loan_amnt <= tq):
        return 'Medium(>8733 & <=14000)'
    else:
        return 'Large(>14000)'

df['loan_type'] = df[['funded_amnt_inv']].applymap(lambda x : get_loan_type(x))
df['loan_type'].value_counts()

#Insights:
#we have catergoried small,medium and large and regular type of loan amounts and smaller catergory of loan amounts have higher number of applicants.

In [ ]:
print(df.groupby("pub_rec_bankruptcies_b").loan_status.mean().sort_values(ascending=False))
plt.figure(figsize=(14, 6))
ax = sns.barplot(x="pub_rec_bankruptcies_b", y = "loan_status" , data = df)
ax.set(ylabel='Average Bad Loan %', xlabel="Public Record Bankruptcies")
plt.show()

#Recommendations
#The accounts having bankruptcies tends to be defaulters more than the one who doesnâ€™t have bankruptcy record